.cont{
    width: 100vw;
    background: radial-gradient(404.74% 1279.18% at -166.2% -147.96%, #1FB622 0%, #060606 53.13%, #1FB622 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 48px;
    background-size: cover;
}

.hrnav{
    
    width: 70px;
    height: 8px;

    background: #B2F042;
    border-radius: 100px;
}

.rect1{
    
    width: 11.59px;
    height: 47.24px;
    
    background: #1FB622;
}
.rect3{
    margin-top: 5px;
    margin-left: 5px;
    width: 11.59px;
    height: 47.24px;

    background: #1FB622;
}
.rect2{
    margin-left: 5px;
    height: 11.59px;
    width: 28.52px;
    background: #1FB622;
    
}
.rect4{
    margin-top: 5px;
    width: 11.59px;
    height: 10.7px;
    margin-left: 5px;
    background: #1FB622;
    transform: rotate(-90deg);
}

.head1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 42.4557px;
    line-height: 64px;
    color: #EEEEEE;
    margin-left: 167.26;
}

.match{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #1FB622;
}

.live{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */

    color: #A0A8B1;

}
.stat{    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #A0A8B1;
}
.analyt{    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #A0A8B1;
}

.place{
    box-sizing: border-box;


    width: 256px;
    height: 50px;
   
    padding-top: 0px;
    background: #0D0D0D;
    border: 1px solid #2E3539;
    border-radius: 100px;
}

.frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;

    
    width: 130px;
    height: 24px;
    left: 1489px;
    top: 72px;

}
.bel{
    
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 29.17%;

}
.mail{
        
    left: 8.33%;
    right: 8.33%;
    top: 25%;
    bottom: 45.83%;

}
.heart{
    
    left: 6.45%;
    right: 6.45%;
    top: 12.49%;
    bottom: 11.54%;

}

.eclipse{
    
    width: 59px;
    height: 59px;
    left: 1674px;
    top: 50px;
}
.text1{
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */

    color: #FFFFFF;
}
.vector{
    
    left: 95.83%;
    right: 3.54%;
    top: 6.94%;
    bottom: 92.5%;

    
}


















.cont2{
    margin-right: 10px;
    width: 23vw;
    
    background: #F4F4F4;
    border-radius: 16px;
    height: auto;
}

.head2{
    padding-top: 25px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18.7107px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
}

.rect22{
    
    margin-top: 15px;
    background: #CFF0C5;
    padding-top: 15px;
    padding-bottom: 12.63;
}

.rect21{
    margin-left: 20px;
    margin-right: 19px;
    width: 15%;
    height: 3%;
    
    color: #FFFFFF;
    text-align: center;
    background: #060606;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12.4282px;
    line-height: 22px;
    padding: 4px;
}

.text2{
    margin-left: 34px;
    margin-right: 5px;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8.7107px;
    color: #000000;
}
.text3{
    margin-left: 5px;
    margin-right: 40px;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8.7107px;
    color: #000000;
}

.hrline{
    
    width: 99%;
    height: 0px;

    border: 1px solid #D9D9D9;
}




























.cont3{
    
    width: 98%;
    background: #FFFFFF;
    border-radius: 16px;
}
.logo1{
    width: 15%;
    height: 10%;
    
}
.head3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10.0188px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-right: 200px;
    margin-left: 0px;
    color: #939393;
    
}

.head4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0507px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
   
    color: #000000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.head5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24.0797px;
    line-height: 29px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000000;
}
.head6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 59.663px;
    line-height: 73px;
    /* identical to box height */
    color: #1FB622;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 52.5px;
}
.cir{
    
    color:#060606;
    border-radius: 40px;
    
    background: rgba(31, 182, 34, 0.12);
    align-items: center;
    font-size: 20px;
    padding: 5px;
    border-style:solid;
    border-color: #1FB622;
    border-width: 5px;
}

.head7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 59.663px;
    line-height: 73px;
    /* identical to box height */
    color: #1FB622;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 52.5px;

}
.head8{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24.0797px;
    line-height: 29px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000000;
}

.head9{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0507px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-left: 110px;
    color: #000000;
    margin-top: 0px;
}
.head10{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10.0507px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-left: 65px;
    text-align: center;
    color: #000000;
    margin-top: 0px;
}
.head11{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0507px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-left: 80px;
    margin-top: 0px;
    color: #000000;
}




























.cont4{
    
    width: 98%;
    margin-top: 10px;
    text-align: center;
    background: #560617;
    border-radius: 21.0595px;
}

.img1{
    width: 78.97px;
    height: 94.77px;
    margin-top: 0px;
    align-items: center;
}

.img2{
    width:210px;
    height: 90vh;
    border-radius: 21px;
}


.head12{
   

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    color: #FFFFFF;
}
.head13{
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100px;
    font-size: 12.4271px;
    line-height: 120%;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.img3{
   
    
    width:210px;
    height: 90vh;
    
    border-radius: 21px;
}













.cont5{

    width: 23%;
    margin-left: 0px;
    background: #F4F4F4;
    border-radius: 16px;
}
.img_news1{
    width: 40%;
    margin-right: 5px;
    height: 100px;
}
.headcont6{
    font-family: 'Inter';
    width: 125px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    background-color: #F5C451;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px;
}

.headcont10{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 120%;
    /* or 17px */
    margin: 0px;
    color: #000000;
}

.paracont{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 120%;
    /* or 14px */
    align-items: center;

    color: #A4A4A4;
}













.cont6{
    width: 24vw;
    background: #B2F042;
    border-radius: 36px;
    margin-right: 10px;
    
}
.cont7{
    width: 24vw;
    background: #B2F042;
    border-radius: 36px;
    margin-right: 10px;
}
.cont8{
    width: 24vw;
    
    background: #B2F042;
    border-radius: 36px;
    margin-right: 10px;
}
.cont9{
    width: 24vw;
    
    background: #B2F042;
    border-radius: 36px;
}
